body{
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
}

a{
    display: block;
}



#content{
    display: flex;
}

#menu{
    width: 60%;
    background-color: aliceblue;
}
.item{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.qty{
    width: 20%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: blueviolet;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#order{
    width: 80%;
    margin-top: 2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

#summary{
    width: 40%;
    background-color: aliceblue;
}